.about{
    background: $color3;
    min-height:80vh;
    h1{
        font-size: clamp(12px,calc(30px+6vw),50px);
        font-weight: bold;
        text-align: center;
        padding:1em;
    }

    &__container{
        font-size: clamp(.5em,calc(.7em + 1vw),1.3em);
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items: center;

        img{
            border-radius: 600px;
            max-width:400px;
            width:30vw;
            min-width:210px;
            margin:.5em 1em 1em 2em;
            @extend %enlarge-trans;
        }
        &__text{
            max-width:40%;
            min-width:50vh;
            font-size:.8em;
            padding:1em;
            letter-spacing:.06em;
            // min-width:212px;
            P +p {
                margin:2vh 0;
            }
        }
    }
}