.contact{
    background:url("../images/hero-background.png") no-repeat fixed center;
    min-height: 70vh;

    h1{
        font-size: clamp(12px,calc(30px+6vw),50px);
        font-weight:bold;
        text-align: center;
        color:white;
        padding:1em;
    }

        form{
        font-size: clamp(.5em,calc(.4em + 1vw),.9em);
        width:60vw;
        max-width:500px;
        margin:0 auto;
        display:flex;
        flex-direction: column;
        label{
            display:block;
            color:white;
            margin-left:4px;
                }
        input,textarea{
            border-radius: 10px;
            width:100%;
            opacity: .8;
            font-size:.9em;
        }
        .form__reply{
            grid-area:text;
            color:white;
            text-align:center;
            display:block;
            margin: auto;
            margin-bottom: .5em;
        }
        
        button{
            @extend %important-button;
            font-weight: 500;
            width:30%;
            margin:1em auto;
            font-size:1em;
            // padding:0 -3em;
        }

        input:active,:focus{opacity:.9;}
        
    }
    .social{
        width:65vw;
        max-width:500px;
        display:flex;
        margin:0 auto;
        margin-top:1em;
        justify-content:space-evenly;

        .fa {
        flex-shrink: 1;
        padding: .5em;
        font-size: clamp(.5em,calc(.7em + 1vw),2em);
        width: 2.5em;
        text-align: center;
        background:#e2e2e2;
        border-radius:15px;
        border: 3px solid #000;
        filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.16));
        @extend %enlarge-trans;
        }
    }

}