.contact{
    background:url("../images/hero-background.png") no-repeat fixed center;
    min-height: 70vh;

    h1{
        font-size: clamp(12px,calc(30px+6vw),50px);
        font-weight:bold;
        text-align: center;
        color:white;
        padding:1em;
    }

        form{
        font-size: clamp(.5em,calc(.4em + 1vw),.9em);
        width:30vw;
        margin:0 auto;
        display:flex;
        flex-direction: column;
        label{
            display:block;
            color:white;
                }
        input,textarea{
            border-radius: 10px;
            width:100%;
            opacity: .8;
        }
        .form__reply{
            grid-area:text;
            color:white;
            text-align:center;
            display:block;
            margin: auto;
        }
        
        button{
            @extend %important-button;
            font-weight: 500;;
            margin:1em;
            font-size:1.3em;
            // padding:0 -3em;
        }

        input:active,:focus{opacity:.9;}
        
    }
    .social{
        width:30vw;

        display:flex;
        margin:auto;
        justify-content:center;

        .fa {
        padding: 10px;
        font-size: 25px;
        width: 50px;
        text-align: center;
        margin: 10px;
        background:#e2e2e2;
        border-radius:10px;
        border: 2px solid #000;
        filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.16));
        @extend %enlarge-trans;
        }
    }

}