// Resets
@import "resets/_normalize.scss";
@import "resets/_reset-local.scss";
@import "resets/_typography.scss";

//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/89d11a443c316da80dcb8f5e1f63c86e?family=Bauhaus+93');

// Variables
$color1 : #5720b7;
$color2 : #9600ef;
$color3 : #e2e2e2;
$accent: #ffd52b;

//mixins
//hover enlarge aimation
@mixin enlarge-trans {
    transition:transform .4s;
    -webkit-transition:transform .4s;
    -moz-transition:transform .4s;
    -ms-transition:transform .4s;
    -o-transition:transform .4s;
    &:hover{
        transform:scale(1.05);
        -webkit-transform:scale(1.05);
        -moz-transform:scale(1.05);
        -ms-transform:scale(1.05);
        -o-transform:scale(1.05);
}
}
// Common to all
body{
    font-family :'Poppins', sans-serif;
    letter-spacing:.06em;
    box-sizing: border-box;
    scroll-padding: 13vh;
}