
.gridWrapper {
    background: $color1;
    display:grid;
    grid-column: repeat(3,1fr);
    gap: 1vw;
    grid-template-areas: 'logoText primaryNav secNav';
    place-items:center;
    height: 13vh;
    width:100vw;
    position:fixed;

    .logoText{
        grid-area:logoText;
        font-family: "Bauhaus 93";
        font-size: 6vh;
        letter-spacing: 0.05em;
        text-align: left;
        color:white;
        text-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3);
        margin-left:3vw;
        @include enlarge-trans;
        &__end{
            color:$accent;
        }

    }

    .primaryNav{
        grid-area: primaryNav;
        width:100%;
        ul {
            li{
                display:inline;
                padding: .4vw .6vw;
                margin:1vw;
                font-size:2.5vh;
                color:white;

                
                &:hover{
                    border-bottom: 4px solid $accent;
                    border-radius: 3px;
                    transition: border .4s ease 0s;
                    -webkit-transition: border .4s ease 0s;
                    -moz-transition: border .4s ease 0s;
                    -ms-transition: border .4s ease 0s;
                    -o-transition: border .4s ease 0s;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
}
                &:focus,&:active{
                    background:$color2;
                    border: 3px solid $color2;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
            }
        }
    }

    .secNav{
        grid-area: secNav;
        @extend .primaryNav;
        .resume{
            border:3px solid $accent;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            
            &:hover{
                    border:3px solid $accent;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    background-color: $color2;
                    transition: color.4s ease, background-color.5s ease;
                    -webkit-transition: color.4s ease, background-color.5s ease;
                    -moz-transition: color.4s ease, background-color.5s ease;
                    -ms-transition: color.4s ease, background-color.5s ease;
                    -o-transition: color.4s ease, background-color.5s ease;
            }
            img{
                height:.8em;
            }

        }
    }
}