.flexHeader {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    background: $color1;
    display:flex;
    justify-content: space-around;
    align-items:center;
    min-height: 10vh;
    z-index:1;

    .logoText{
        font-family: "Skranji";
        font-size:clamp(30rem,calc(5vw),40rem);
        letter-spacing: 0.05rem;
        color:white;
        text-shadow: .15em .15em 0px rgba(0, 0, 0, 0.3);
        padding:.1em;
        @extend %enlarge-trans;
        &__end{
            color:$accent;
        }

    }

    .ham{
        display:none;
    }

    .menu{
            font-weight: 500;
            display:flex;
            justify-content:flex-start;
            align-items:center;
            margin-right:0vw;
            li{
                display:block;
                padding: 0.2em .1em;
                margin:.5em;
                font-size:clamp(14rem,calc(1.6vw),20rem);
                color:rgba(255, 255, 255, 0.836);
                border-bottom: 4px solid $color1;
                border-radius: 3px;
                transition: border .4s ease 0s;
                -webkit-transition: border .4s ease 0s;
                -moz-transition: border .4s ease 0s;
                -ms-transition: border .4s ease 0s;
                -o-transition: border .4s ease 0s;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                
                &:hover{
                    border-bottom: 4px solid $accent;
                    border-radius: 3px;
                    color:white;
                    transition: border .4s ease 0s,color .4s ease;
                    -webkit-transition: border .4s ease 0s,color .4s ease;
                    -moz-transition: border .4s ease 0s,color .4s ease;
                    -ms-transition: border .4s ease 0s,color .4s ease;
                    -o-transition: border .4s ease 0s,color .4s ease;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
}
                &:active {
                    transform: scale(.95);
                    -webkit-transform: scale(.95);
                    -moz-transform: scale(.95);
                    -ms-transform: scale(.95);
                    -o-transform: scale(.95);
                    transition: transform .08 ease;
                    -webkit-transition: transform .08 ease;
                    -moz-transition: transform .08 ease;
                    -ms-transition: transform .08 ease;
                    -o-transition: transform .08 ease;
}
                    }
            
            @media screen and (min-width:770px){
            .resume{
                border:3px solid $accent;
                border-radius: 15px;
                padding: 0.2em .2em;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                
                &:hover{
                    border:3px solid $accent;
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    -ms-border-radius: 15px;
                    -o-border-radius: 15px;
                    background-color: $color2;
                    transition: color.4s ease, background-color.5s ease;
                    -webkit-transition: color.4s ease, background-color.5s ease;
                    -moz-transition: color.4s ease, background-color.5s ease;
                    -ms-transition: color.4s ease, background-color.5s ease;
                    -o-transition: color.4s ease, background-color.5s ease;
}
            }
            img{
                height:.8em;
                padding:.1em;
            }

        }

        }
    

    
}
