.hero {
    height:100vh;
    padding-top:13vh;
    background:url("../images/hero-background.png") no-repeat fixed center;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    .heroTitle {
        width: 40vw;
        font-family :'Verdana','Poppins', sans-serif;
        margin-left:2vw;
        p {
            font-size:clamp(10px,calc(10px + 1vw),20px);
            color:white;
            margin-right:50px;
            line-height: 30px;
        }
        h1 {
            font-size:clamp(12px,calc(10px + 5vw),55px);
            font-weight: bold;
            color:white;
        }
    }
    
    .heroImage {
        min-width: 200px;
        max-width:20vw;
        margin:2vh;
        border-radius: 63px;
        box-shadow: 13px 11px 7px rgba(0, 0, 0, 0.16);
        @include enlarge-trans;
        img {
            display: block;
            width: 100%;
            border-radius: 60px;
}
    }
}