.hero {
    min-height:88vh;
    background:url("../images/hero-background.png") no-repeat fixed center;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    align-content: center;
    flex-wrap: wrap;
    .heroTitle {
        font-family :'Verdana','Poppins', sans-serif;
        margin:30px 50px;
        p {
            font-size:clamp(10px,calc(10px + 1vw),20px);
            color:white;
            max-width:400px;
            
            &:last-of-type{
                margin-bottom: 1.1em;
                margin-top:.6em;
            }
        }
        
        h1 {
            text-shadow: .2em .2em .2em rgba(0, 0, 0, 0.24);
            font-size:clamp(12px,calc(6px + 5vw),55px);
            font-weight: bold;
            color:white;
        }

        &__button {
            @extend %important-button;
        }
    }
    
    .heroImage {
        width:clamp(180px,30vw,330px);
        margin:4vh 2vh;
        border-radius: 63px;
        box-shadow: 9px 8px 9px rgba(0, 0, 0, 0.16);
        @extend %enlarge-trans;
        img {
            display: block;
            width: 100%;
            border-radius: 60px;
        }
    }
    
    
}