header {

}

header img {
    width: 40%;
    display: inline;
}
#info {
    display: inline;
    text-align: center;
}
* {
    background-color:#280175;
    color: white;
    box-sizing: border-box;
}

footer{
    text-align: center;
}