

* {
    background-color:#280175;
    color: white;
    box-sizing:content-box;
}

footer{
    text-align: center;
}

.avatar {
    float: left;
    width: 30%;
    margin: 25px;
    border-radius: 15%;
  }
  
  .username {
    margin-top: 40px;
  }
  
  .comment {
    margin: 10px;
    font-size:1.2em;
    overflow: hidden;  /* This is important */
  }

  .column {
      overflow: hidden;
  }